{% extends 'programmingcourses/layout.html' %}

{% block title %}C{% endblock %}

{% block body %}
{% load static %}
<div class="col-lg-6 col-md-10 col-sm-10 col-lg-offset-3 col-md-offset-1 col-sm-offset-1">
    <h2>C Language </h2>
    <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">1. Introduction to C Language</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body"><a href="c_introduction">View Content</a></div>
          <div class="panel-body"><a href="{% static 'c/abc.txt' %}" download>Downlaod Content</a></div>
      </div>
    </div>
  </div>
    <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse2">2. Basic Syntax</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body"><a href="c_basic_syntax">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
    <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse3">3. Data Types</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body"><a href="c_data_types">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
    <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse4">4. Operators</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
          <div class="panel-body"><a href="c_operators">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse5">5. Decision Making</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
          <div class="panel-body"><a href="c_decision_making">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse6">6. Loops</a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
          <div class="panel-body"><a href="c_loops">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse7">7. Function</a>
        </h4>
      </div>
      <div id="collapse7" class="panel-collapse collapse">
          <div class="panel-body"><a href="c_function">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
          <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse8">8. Pointer</a>
        </h4>
      </div>
      <div id="collapse8" class="panel-collapse collapse">
          <div class="panel-body"><a href="c_pointer">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse9">9. String</a>
        </h4>
      </div>
      <div id="collapse9" class="panel-collapse collapse">
          <div class="panel-body"><a href="c_string">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse10">10. Structure</a>
        </h4>
      </div>
      <div id="collapse10" class="panel-collapse collapse">
          <div class="panel-body"><a href="c_structure">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse11">11. File Handling</a>
        </h4>
      </div>
      <div id="collapse11" class="panel-collapse collapse">
          <div class="panel-body"><a href="c_file_handling">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse12">12. Error Handling</a>
        </h4>
      </div>
      <div id="collapse12" class="panel-collapse collapse">
          <div class="panel-body"><a href="c_error_handling">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse13">13. Command Line Argument</a>
        </h4>
      </div>
      <div id="collapse13" class="panel-collapse collapse">
          <div class="panel-body"><a href="c_command_line_argument">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>

</div>
{% endblock %}