{% extends 'programmingcourses/layout.html' %}

{% block title %}CSS{% endblock %}

{% block body %}
<div class="col-lg-6 col-md-10 col-sm-10 col-lg-offset-3 col-md-offset-1 col-sm-offset-1">
    <h2>CSS </h2>
    <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">1. Introduction to CSS</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body"><a href="css_introduction">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
    <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse2">2. Basic Syntax</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body"><a href="css_basic_syntax">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
    <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse3">3. Colors</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body"><a href="css_colors">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
    <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse4">4. Background</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
          <div class="panel-body"><a href="css_background">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
    <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse5">5. Font</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
          <div class="panel-body"><a href="css_font">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse6">6. Text</a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
          <div class="panel-body"><a href="css_text">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse7">7. Image</a>
        </h4>
      </div>
      <div id="collapse7" class="panel-collapse collapse">
          <div class="panel-body"><a href="css_image">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse8">8. Link</a>
        </h4>
      </div>
      <div id="collapse8" class="panel-collapse collapse">
          <div class="panel-body"><a href="css_link">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
          <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse9">9. Table</a>
        </h4>
      </div>
      <div id="collapse9" class="panel-collapse collapse">
          <div class="panel-body"><a href="css_table">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse10">10. Border</a>
        </h4>
      </div>
      <div id="collapse10" class="panel-collapse collapse">
          <div class="panel-body"><a href="css_border">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse11">11. Margin</a>
        </h4>
      </div>
      <div id="collapse11" class="panel-collapse collapse">
          <div class="panel-body"><a href="css_margin">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse12">12. List</a>
        </h4>
      </div>
      <div id="collapse12" class="panel-collapse collapse">
          <div class="panel-body"><a href="css_list">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse13">13. Padding</a>
        </h4>
      </div>
      <div id="collapse13" class="panel-collapse collapse">
          <div class="panel-body"><a href="css_padding">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse14">14. Box Model</a>
        </h4>
      </div>
      <div id="collapse14" class="panel-collapse collapse">
          <div class="panel-body"><a href="css_box_model">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
 <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse15">15. Height & Width</a>
        </h4>
      </div>
      <div id="collapse15" class="panel-collapse collapse">
          <div class="panel-body"><a href="css_height_and_width">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
 <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse16">16. Pseudo Class</a>
        </h4>
      </div>
      <div id="collapse16" class="panel-collapse collapse">
          <div class="panel-body"><a href="css_pseudo_class">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
 <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse17">17. Pseudo Element</a>
        </h4>
      </div>
      <div id="collapse17" class="panel-collapse collapse">
          <div class="panel-body"><a href="css_pseudo_element">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
 <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse18">18. Rounded Corner</a>
        </h4>
      </div>
      <div id="collapse18" class="panel-collapse collapse">
          <div class="panel-body"><a href="css_rounded_corner">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}