{% extends 'programmingcourses/layout.html' %}

{% block title %}HTML{% endblock %}

{% block body %}
<div class="col-lg-6 col-md-10 col-sm-10 col-lg-offset-3 col-md-offset-1 col-sm-offset-1">
    <h2>HTML : Hyper Text Markup Language </h2>
    <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">1. Introduction to HTML</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body"><a href="html_introduction">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
    <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse2">2. Basic Tags</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body"><a href="html_basic_tags">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
    <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse3">3. Elements</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body"><a href="html_elements">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
    <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse4">4. Attribute</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
          <div class="panel-body"><a href="html_elements">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
    <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse5">5. Formatting</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
          <div class="panel-body"><a href="html_attribute">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse6">6. Meta Tags</a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
          <div class="panel-body"><a href="html_meta_tags">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse7">7. Comment</a>
        </h4>
      </div>
      <div id="collapse7" class="panel-collapse collapse">
          <div class="panel-body"><a href="html_comment">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse8">8. Image</a>
        </h4>
      </div>
      <div id="collapse8" class="panel-collapse collapse">
          <div class="panel-body"><a href="html_image">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
          <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse9">9. Table</a>
        </h4>
      </div>
      <div id="collapse9" class="panel-collapse collapse">
          <div class="panel-body"><a href="html_table">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse10">10. List</a>
        </h4>
      </div>
      <div id="collapse10" class="panel-collapse collapse">
          <div class="panel-body"><a href="html_list">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse11">11. Link</a>
        </h4>
      </div>
      <div id="collapse11" class="panel-collapse collapse">
          <div class="panel-body"><a href="html_link">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse12">12. Block</a>
        </h4>
      </div>
      <div id="collapse12" class="panel-collapse collapse">
          <div class="panel-body"><a href="html_block">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse13">13. Classes</a>
        </h4>
      </div>
      <div id="collapse13" class="panel-collapse collapse">
          <div class="panel-body"><a href="html_classes">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse14">14. ID</a>
        </h4>
      </div>
      <div id="collapse14" class="panel-collapse collapse">
          <div class="panel-body"><a href="html_id">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
 <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse15">15. Form</a>
        </h4>
      </div>
      <div id="collapse15" class="panel-collapse collapse">
          <div class="panel-body"><a href="html_form">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
 <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse16">16. Stylesheet</a>
        </h4>
      </div>
      <div id="collapse16" class="panel-collapse collapse">
          <div class="panel-body"><a href="html_stylesheet">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
 <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse17">17. Javascript</a>
        </h4>
      </div>
      <div id="collapse17" class="panel-collapse collapse">
          <div class="panel-body"><a href="html_javascript">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}