{% extends 'programmingcourses/layout.html' %}

{% block title %}Java{% endblock %}

{% block body %}
<div class="col-lg-6 col-md-10 col-sm-10 col-lg-offset-3 col-md-offset-1 col-sm-offset-1">
    <h2>Java Language </h2>
    <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">1. Introduction to Java Language</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body"><a href="java_introduction">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
    <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse2">2. Environment Setup</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body"><a href="java_environment_setup">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
    <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse3">3. Basic Syntax</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body"><a href="java_basic_syntax">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
    <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse4">4. Data Types</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
          <div class="panel-body"><a href="java_data_types">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
    <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse5">5. Operators</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
          <div class="panel-body"><a href="java_operators">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse6">6. Decision Making</a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
          <div class="panel-body"><a href="java_decision_making">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse7">7. Loops</a>
        </h4>
      </div>
      <div id="collapse7" class="panel-collapse collapse">
          <div class="panel-body"><a href="java_loops">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse8">8. Array</a>
        </h4>
      </div>
      <div id="collapse8" class="panel-collapse collapse">
          <div class="panel-body"><a href="java_array">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
          <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse9">9. String</a>
        </h4>
      </div>
      <div id="collapse9" class="panel-collapse collapse">
          <div class="panel-body"><a href="java_string">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse10">10. Method</a>
        </h4>
      </div>
      <div id="collapse10" class="panel-collapse collapse">
          <div class="panel-body"><a href="java_method">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse11">11. Basic Input/Output</a>
        </h4>
      </div>
      <div id="collapse11" class="panel-collapse collapse">
          <div class="panel-body"><a href="java_basic_input_output">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse12">12. File Handling</a>
        </h4>
      </div>
      <div id="collapse12" class="panel-collapse collapse">
          <div class="panel-body"><a href="java_file_handling">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse13">13. Exception Handling</a>
        </h4>
      </div>
      <div id="collapse13" class="panel-collapse collapse">
          <div class="panel-body"><a href="java_exception_handling">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse14">14. Interface</a>
        </h4>
      </div>
      <div id="collapse14" class="panel-collapse collapse">
          <div class="panel-body"><a href="java_interface">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
 <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse15">15. Classes & Objects</a>
        </h4>
      </div>
      <div id="collapse15" class="panel-collapse collapse">
          <div class="panel-body"><a href="java_classes_and_objects">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
 <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse16">16. Constructor</a>
        </h4>
      </div>
      <div id="collapse16" class="panel-collapse collapse">
          <div class="panel-body"><a href="java_constructor">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
 <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse17">17. Inheritance</a>
        </h4>
      </div>
      <div id="collapse17" class="panel-collapse collapse">
          <div class="panel-body"><a href="java_inheritance">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
 <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse18">18. Access Modifier</a>
        </h4>
      </div>
      <div id="collapse18" class="panel-collapse collapse">
          <div class="panel-body"><a href="java_access_modifier">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
 <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse19">19. Overloading and Overriding Methods</a>
        </h4>
      </div>
      <div id="collapse19" class="panel-collapse collapse">
          <div class="panel-body"><a href="java_overlaoding_and_overriding">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
 <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse20">20. Polymorphism</a>
        </h4>
      </div>
      <div id="collapse20" class="panel-collapse collapse">
          <div class="panel-body"><a href="java_polymorphism">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
 <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse21">21. Encapsulation</a>
        </h4>
      </div>
      <div id="collapse21" class="panel-collapse collapse">
          <div class="panel-body"><a href="java_encapsulation">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
 <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse22">22. Packages</a>
        </h4>
      </div>
      <div id="collapse22" class="panel-collapse collapse">
          <div class="panel-body"><a href="java_packages">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}