{% extends 'programmingcourses/layout.html' %}

{% block title %}Python{% endblock %}

{% block body %}
{% load static%}
<div class="col-lg-6 col-md-10 col-sm-10 col-lg-offset-3 col-md-offset-1 col-sm-offset-1">
    <h2>Python </h2>
     <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">1. Introduction to Python</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body"><a href="python_introduction">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
    <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse2">2. Environment Setup</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body"><a href="python_environment_setup">View Content</a></div>
          <div class="panel-body"><a href="{% static 'python/environment_setup.pdf'%}" download>Downlaod Content</a></div>
      </div>
    </div>
  </div>
    <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse3">3. Basic Syntax</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body"><a href="python_basic_syntax">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
    <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse4">4. Data Types</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
          <div class="panel-body"><a href="python_data_types">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
    <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse5">5. Operators</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
          <div class="panel-body"><a href="python_operators">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse6">6. Decision Making</a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
          <div class="panel-body"><a href="python_decision_making">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse7">7. Loops</a>
        </h4>
      </div>
      <div id="collapse7" class="panel-collapse collapse">
          <div class="panel-body"><a href="python_loops">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse8">8. Function</a>
        </h4>
      </div>
      <div id="collapse8" class="panel-collapse collapse">
          <div class="panel-body"><a href="python_function">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
          <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse9">9. Modules</a>
        </h4>
      </div>
      <div id="collapse9" class="panel-collapse collapse">
          <div class="panel-body"><a href="python_modules">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse10">10. Basic Input/Output</a>
        </h4>
      </div>
      <div id="collapse10" class="panel-collapse collapse">
          <div class="panel-body"><a href="python_basic_input_output">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse11">11. Exception Handling</a>
        </h4>
      </div>
      <div id="collapse11" class="panel-collapse collapse">
          <div class="panel-body"><a href="python_exception_handling">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse12">12. File Handling</a>
        </h4>
      </div>
      <div id="collapse12" class="panel-collapse collapse">
          <div class="panel-body"><a href="python_file_handling">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse13">13. Classes & Objects</a>
        </h4>
      </div>
      <div id="collapse13" class="panel-collapse collapse">
          <div class="panel-body"><a href="python_classes_and_objects">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
      <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse14">14. Constructor</a>
        </h4>
      </div>
      <div id="collapse14" class="panel-collapse collapse">
          <div class="panel-body"><a href="python_constructor">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
 <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse15">15. Inheritance</a>
        </h4>
      </div>
      <div id="collapse15" class="panel-collapse collapse">
          <div class="panel-body"><a href="python_inheritance">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
 <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse16">16. Overloading and Overriding</a>
        </h4>
      </div>
      <div id="collapse16" class="panel-collapse collapse">
          <div class="panel-body"><a href="python_overlaoding_and_overriding">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
 <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse17">17. Data Hiding</a>
        </h4>
      </div>
      <div id="collapse17" class="panel-collapse collapse">
          <div class="panel-body"><a href="python_data_hiding">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
 <div class="panel-group mypanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse18">18. Regular Expression</a>
        </h4>
      </div>
      <div id="collapse18" class="panel-collapse collapse">
          <div class="panel-body"><a href="python_regular_expression">View Content</a></div>
          <div class="panel-body"><a>Downlaod Content</a></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}